*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.mudar-tema{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 10px;
}
.bv{
    margin: 10px;
    font-size: 30px;
}
nav li {
    display: flex;
    align-items: center;
}
nav li a p{
    font-size: 20px;
    padding: 8px;
    transition: all 1s;
}
nav li a p:hover{
    background-color: var(--color-background);
}
nav, nav ul{
    width: 100%;
    background-image: linear-gradient(to bottom, var(--color-text-contrast) ,rgba(0, 0, 0, 0) );
}

.escolha{
    width: 100%;
    height: 100px;
    margin: 10px;
    
}

.lista{
    list-style-type: disc;
    padding-left: 20px; /* para espaço entre o ponto e o texto */
}


    
.calculadora-normal{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 40px;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-color: rgb(156, 156, 156);
}
/* visor das duas calculadoras */
.tela{
    display: flex;
    justify-content: end;
}
/* formato e estilo dos botões da calculadora normal */
.calculadora-normal .botao{
    margin: 10px;
    color: black;
    width: 50px;
    height: 50px;
}
/* tirar itens */
.hide{
    display: none;
}

.descricao{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.conteudo{
    flex: 1;
}
.perfil{
    display: flex;
    justify-content: center;
    margin: 50px auto;
}
.perfil img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.rodape{
    padding: 80px;
    background-image: linear-gradient(to top, var(--color-text-contrast) ,rgba(0, 0, 0, 0) );
}
